<header>
    <a href="/" class="logo">
        <svg height="64" width="140" viewBox="0 0 330 110">
            <use xlink:href="/assets/img/logo.svg#logo" href="/assets/img/logo.svg#logo"></use>
        </svg>
    </a>
    <svg class="deco-1" width="96" height="96" viewBox="16 0 64 96">
        <use xlink:href="/assets/img/deco-1.svg#deco" href="/assets/img/deco-1.svg#deco"></use>
    </svg>

    <nav>
        {% for item in site.data.navigation.nav %}
            <a href="{{ item.link }}" data-nav-text="{{ item.text }}">
                <i class="{{ item.icon }}"></i>
            </a>
        {% endfor %}
    </nav>
    <div class="navbar-tip">{{ page.nav_title | default: page.title }}</div>

    <script src="/assets/js/header_nav.js"></script>
</header>