<header>
    <a href="/" class="logo">
        <svg height="64" width="140" viewBox="0 0 291 132">
            <use xlink:href="/assets/img/logo.svg#logo" href="/assets/img/logo.svg#logo"></use>
        </svg>
    </a>
    <svg class="deco-1" width="96" height="96" viewBox="16 0 64 96">
        <use xlink:href="/assets/img/deco-1.svg#deco" href="/assets/img/deco-1.svg#deco"></use>
    </svg>
    <nav>
        <a href="/">
            <i class="ph-bold ph-info"></i>
            <div class="txt"><span>nunna these do anything yet</span></div>
        </a>
        <a href="/">
            <i class="ph-fill ph-paw-print"></i>
            <div class="txt"><span>Tooltip text</span></div>
        </a>
        <a href="/">
            <i class="ph-bold ph-heart-straight"></i>
            <div class="txt"><span>Tooltip text</span></div>
        </a>
    </nav>
    <div class="navbar-tip">
        <i class="ph-bold ph-arrow-bend-left-up"></i>
        <span id="navbar-tiptext">hover these they do things</span>
    </div>
</header>