<header>
    <a href="/" class="logo">
        <svg height="64" width="140" viewBox="0 0 291 132">
            <use xlink:href="/assets/img/logo.svg#logo" href="/assets/img/logo.svg#logo"></use>
        </svg>
    </a>
    <svg class="deco-1" width="96" height="96" viewBox="16 0 64 96">
        <use xlink:href="/assets/img/deco-1.svg#deco" href="/assets/img/deco-1.svg#deco"></use>
    </svg>
    <nav>
    {% for item in site.data.navigation.nav %}
        <a href="{{ item.link }}">
            <i class="{{ item.icon }}"></i>
            <div class="txt"><span>{{ item.text }}</span></div>
        </a>
    {% endfor %}
    </nav>
    <div class="navbar-tip">
        <i class="ph-bold ph-arrow-bend-left-up"></i>
        <span id="navbar-tiptext">site navigation</span>
    </div>
</header>