
//colors
$c-text: #ded6dd;
$c-border: #b54081;
$c-main: #592344;
$c-grid: #4a1a37;
$c-bg: #2a0e26;
$c-darkest: #1b0317;
$c-yellow: #ffa55c;
$c-blue: #6aa4ff;

// device widths
$s-xl: 800px;
$s-lg: 640px;
$s-md: 480px;
$s-sm: 360px;

// misc
$border: 3px solid $c-border;