
//colors
$c-text: #ded6dd;
$c-light: #e59ec7;
$c-border: #b54081;
$c-main: #592344;
$c-grid: #4a1a37;
$c-bg: #2a0e26;
$c-darkest: #1b0317;

// device widths
$desktop: 800px;
$tablet: 480px;
$mobile: 320px;

// misc
$border: 3px solid $c-border;