
//colors
$c-text: #d6ced5;
$c-border: #a4487b;
$c-light: #db99bf;
$c-container: #803156;
$c-main: #512640;
$c-bg: #261023;
$c-darkest: #180515;

// device widths

$desktop: 720px;
$tablet: 480px;
$mobile: 320px;