@import "_variables";
@import "_functions";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font: 11pt "Outfit", Verdana, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.35;
    overflow-wrap: break-word;

    background-color: $c-main;
    image-rendering: pixelated;
    color: $c-text;

    @include responsive($s-lg) {
        background-color: $c-bg;
        background-image:
            linear-gradient(to left, $c-darkest 14%, transparent 15%),
            linear-gradient(to bottom, $c-darkest 14%, transparent 15%);
        background-attachment: fixed;
        background-size: 18px 18px;
        background-repeat: repeat;
    }
}

#container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    @include grid-bg(8px, $c-grid, $c-main);

    @include responsive($s-lg) {
        max-width: unquote("min(#{$s-xl}, calc(100vw - #{w(4)}))");
        border: $border;
        margin: w(2) auto;
        border-radius: w(2);
        min-height: unset;

        box-shadow: 3px 3px 0px $c-border;
    }

    overflow:hidden;
}

main {
    box-shadow: 3px 3px 0px $c-border;
    border: $border;
    background-color: $c-bg;
    border-radius: w(2);
    padding: w(1.5);
    margin: w(2);
    @include responsive($s-sm) {
        margin: w(3);
        padding: w(2);
    }
}

header {
    $_p: 8px;

    margin-bottom: w(2);
    width: 100%;
    border-bottom: $border;
    background-color: $c-bg;
    position: relative;

    & .logo {
        display: inline-block;
        padding: $_p;
        background-color: $c-bg;

        & svg {
            transition-duration: 0.2s;
            --c: #{$c-bg};
            vertical-align: sub;
            margin: 0 4px;
            color: $c-border;
            box-shadow: 0px 0px 0px transparent;
            transform: none;
            max-width: 100%;
            margin: 0 auto;
        }

        width: 50%;
        @include responsive($s-sm) {
            width: unset;
            border-right: $border;
        }

        &:hover svg {
            --c: #{$c-main};
            color: $c-yellow;
            filter: drop-shadow(4px 4px 0px $c-border);
            transform: translate(-1px, -1px);
        }
    }

    & nav {
        display: inline-flex;
        margin-left: auto;
        position: absolute;
        vertical-align: middle;

        margin: w(1);
        gap: w(1);

        & a {
            //navbar item
            $trans: 0.3s;

            display: flex;
            overflow: hidden;
            align-items: center;
            background-color: $c-border;
            padding: w(0.75);
            border-radius: w(1);
            color: $c-bg;
            transition-duration: $trans;
            gap: 0;

            & .txt {
                // text grid container
                font-weight: bold;
                display: grid;
                grid-template-columns: 0fr;
                transition: grid-template-columns $trans, margin-right $trans;
                overflow: hidden;
                margin-left: 0.3em;
                margin-right: -0.3em;

                & span {
                    // inner text
                    min-width: 0;
                    max-height: 100%;
                    transition: visibility $trans;
                    visibility: hidden;
                    white-space: nowrap;
                }
            }

            &:hover {
                text-decoration: none;
                background-color: $c-yellow;
                padding-right: 0.5em;

                & .txt {
                    grid-template-columns: 1fr;
                    margin-right: 0.2em;

                    & span {
                        visibility: visible;
                    }
                }
            }

            & i[class^="ph"] {
                // icon
                font-size: 32px;
            }

        }
    }

    & .deco-1 {
        display: none;
        position: absolute;
        color: $c-grid;
        right: w(3);
        top: -8px;
        @include responsive($s-md) {
            display: initial;
        }
    }
}


.navbar-tip {
    display: inline-block;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    color: $c-border;
    font-weight: bold;
}

a {
    color: $c-yellow;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    border-radius: w(2);
    letter-spacing: -0.03ch;
    padding: w(0.5) w(1.5);
    background: linear-gradient(to right, $c-border, transparent)
}


.logo {
    font-size: 2em;
    font-weight: 900;

    & span {
        $amt: 0.35;
        letter-spacing: -1ch * $amt;
        margin-right: 1ch * $amt;
    }

    &:hover {
        text-decoration: none;
    }
}