---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" rel="stylesheet" type="text/css" media="all">
        <link rel="stylesheet" href="/assets/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% if page.embed %}
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="strudelfatpaws.github.io">

        <meta property="og:title" content="{{ page.embed.title | default: page.title }}">

        {% if page.embed.desc %}
            <meta property="og:description" content="{{ page.embed.desc }}">
            <meta name="description" content="{{ page.embed.desc }}">
        {% endif %}

        <meta name="theme-color" content="{{ page.embed.color | default: "#f75d7e" }}">
        {% endif %}
    </head>
    <body>
        <div id="container">
            {%  include header.html %}
            <div class="grid">
                {{ content }}
            </div>
        </div>
    </body>
</html>